[Desktop Entry]
X-SuSE-translate=true
Categories=Development;Design;
Encoding=UTF-8
Name=SpriteGenerator
GenericName=SpriteGenerator
Type=Application
Exec=spritegenerator
Icon=spritegenerator
