[Desktop Entry]
Type=Application
Version=1.0
Name=SpriteGenerator
GenericName=SpriteGenerator
Comment=Generator for CSS sprites
Exec=/usr/bin/spritegenerator
Icon=/usr/share/spritegenerator/spritegenerator.svg
Terminal=false
Categories=Development;
X-SuSE-translate=false
